<div class="app">
  <nav class="navbar navbar-dark bg-dark text-white">

    <div class="col-1">
      <a class="navbar-brand" href="#">News</a>
    </div>
    
    <div class="form-group col-3">
      <h6 class="text-center mb-2 mt-2">Category</h6>
      <select 
        name="currentCategory" 
        class="form-control bg-dark text-white" 
        [(ngModel)]="currentCategory" 
        (change)="onChange()"
      >
        <option *ngFor="let category of categoryList" [ngValue]="category">{{ category }}</option>
      </select>
    </div>
    
    <div class="form-group col-3">
      <h6 class="text-center mb-2 mt-2">Country</h6>
      <select 
        name="currentCountry" 
        class="form-control bg-dark text-white" 
        [(ngModel)]="currentCountry" 
        (change)="onChange()"
      >
        <option *ngFor="let country of countryList" [ngValue]="country">{{ country }}</option>
      </select>
    </div>
    
    <div class="form-group col-3">
      <h6 class="text-center mb-2 mt-2">Source</h6>
      <select 
        name="currentSource" 
        class="form-control bg-dark text-white" 
        [(ngModel)]="currentSource" 
        (change)="onChangeSource()"
      >
        <option *ngFor="let source of sourceList" [ngValue]="source.id">{{ source.name }}</option>
      </select>
    </div>
  </nav>
  <div class="container bg-dark text-white">
    
    <!--
    <div appCustomColor="red" message="message">Some text</div>
    <div *appCustomIf="newsList.length">Custom if</div>
    -->
    <div class="card text-center mb-3 bg-dark text-white" *ngFor="let news of newsList">
      <div class="card-header">
        {{ news.source.name }}
      </div>
      <div class="container">
        <img [src]="news.urlToImage" alt="" class="img-thumbnail">
      </div>
      <div class="card-body">
        <h5 class="card-title" appShowDescription>{{ news.title }}</h5>
        <p class="card-text" [hidden]="true">{{ news.description }}</p>
        <a href="{{ news.url }}" class="btn btn-primary">Read more</a>
      </div>      
    </div>
  </div>
</div>

